.App {
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
}

.App-header {
    background-color: white;
    display: flex;
    justify-content: center;
}

.opcoes {
    display: flex;
}

li {
    list-style: none;
}
